
body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--primary-font);
    background-color: var(--body-bg);
    color: var(--text);
}

body.light{
  --country-card-bg:hsl(0, 0%, 98%);
  --select:hsl(0, 0%, 52%);
  --body-bg:hsl(0, 0%, 98%);
  --text:hsl(200, 15%, 8%);
  --box-shadow:hsla(0, 0%, 52%, 0.397);
}
