@use '../mixins/flexbox.scss' as*;


.form{
    @include flexbox(flex,row,nowrap,space-between,center);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.form__field{
    padding: 1rem 2rem;
    border: none;
    
    &--input{
        padding-left:5rem;
        
    }
    &--select{
        padding-right: 2rem;
        
    }
}
